checkpoints/
logs/
results/
data/
model_comparison/

*.npy
*.npz
*.zarr/
*.nc
*.tif
*.tiff

__pycache__/
.ipynb_checkpoints/
*.pyc
*.bak

*.pt
*.pth
*.ckpt

output_images_sample_*/
input_sst_sequence_*/
scale_outputs_sample_*/
